@import "styles/variables.scss";

.move_button {
  @include shape(112px, 40px, $border-radius: 20px);

  background: $colorTileBackgroundWhite;
  box-shadow: $shadowAccent;
  border: none;
  border-radius: $spacingUnit5;
  cursor: pointer;
  
  display: flex;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  justify-content: center;
  
  outline: none;
  padding: $spacingUnit3;

  &:hover {
    box-shadow: $shadowAccentHover;
  }
}

.btn_text {
  align-items: center;
  display: flex;
  
  justify-content: center;

  height: 16px;
}

.left_item {
  margin-right: $spacingUnit3;
}