@import "styles/variables.scss";

.code_area {
  @include shape(auto, auto, 32px);

  background-color: $colorCodeArea;
  border: none;
  padding: $spacingUnit6;

  margin: 0;
}

.code_area code {
  @include text-simple(18px, 500);

  line-height: 19px;
}