@import "styles/variables.scss";

.action_tile {
  @include shape(auto, auto, 32px);

  background-color: $colorActionTile;
  box-sizing: border-box;

  max-width: 1208px;
  min-width: 800px;
  
  padding: $spacingUnit8;
}

.action_header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 38px;

  margin-bottom: $spacingUnit6;
}

.lang_header {
  @include text-header();
  
  align-items: center;
  display: flex;
  text-align: center;
}

.action_wrapper {
  display: flex;
  justify-content: flex-start;

  margin-top: $spacingUnit5;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}