@import "styles/variables.scss";

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 64px;

  max-width: 1208px;
  min-width: 808px;
  
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 32px;
}

.row_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.login {
  @include fontHeader2();

  width: auto;
  height: 32px;

  background-color: $colorGlobalBackground;
  border: none;
  border-radius: 16px;
  cursor: pointer;

  margin: 0;
  padding: $spacingUnit1 $spacingUnit4;
  
  outline: none;

  &:hover {
    background-color: $colorGlobalBackgroundHover;
  }
}

.logout_btn {
  @include shape(32px, $border-radius: 16px);

  background-color: $colorGlobalBackground;
  border: none;
  cursor: pointer;
  
  outline: none;
  padding: 6px 7px 5px 3px;
  margin-left: $spacingUnit4;

  &:hover {
    background-color: $colorGlobalBackgroundHover;
  }
}