@import "styles/variables.scss";

.accept, .decline {
  @include shape(80px, 80px, $border-radius: 50%);

  align-items: center;
  border: none;
  box-sizing: border-box;

  cursor: pointer;

  display: flex;
  justify-content: center;
  
  outline: none;
  padding: 0;
}

.accept {
  background-color: $colorButtonAccept;

  &:hover {
    background-color: $colorButtonAcceptHover;
  }
}

.decline {
  background-color: $colorButtonDecline;
  margin-top: $spacingUnit6;

  &:hover {
    background-color: $colorButtonDeclineHover;
  }
}
