/* === Colors === */
$colorBackground: #F3F6FD;
$colorActionTile: #FFFFFF;
$colorCodeArea: #F9F9F9;
$colorEditDescription: #FFF3D5;
$colorEvalDescription: #DBF6FD;
$colorSignUpLink: #176DEA;
$colorButtonLogOutHover: #E5E8EF;
$colorAccept: #DCFCC3;
$colorAcceptHover: #CCFFA4;
$colorDecline: #FFD3E2;
$colorDeclineHover: #FFBAD1;


/* === Spacing ===*/
$spacingUnit4: 16px;
$spacingUnit5: 20px;
$spacingUnit6: 24px;
$spacingUnit8: 32px;
$spacingUnit29: 116px;


@mixin shape($width, $height: none, $border-radius: none) {
  width: $width;

  @if ($height == none) {
    height: $width;
  }
  @else {
    height: $height;
  }

  @if ($border-radius != none) {
    border-radius: $border-radius;
  }
}

@mixin text-simple($size: 18px, $weight: 600) {
  font-family: Inconsolata;
  font-size: $size;
  font-weight: $weight;
}

@mixin text-header($size: 18px, $weight: 600) {
  font-family: Montserrat;
  font-size: $size;
  font-weight: $weight;
}

@mixin text-description($size: 18px, $weight: 500) {
  font-family: Cousine;
  font-size: $size;
  font-weight: $weight;
}